@font-face {
    font-family: Open Sans;
    src: url(/fonts/OpenSans-Regular.woff);
    src: url(/fonts/OpenSans-Regular.woff2);
    src: url(/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url(/fonts/OpenSans-Bold.ttf);
    src: url(/fonts/OpenSans-Bold.woff);
    src: url(/fonts/OpenSans-Bold.woff2);
    font-weight: 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans, Arial, sans-serif; 
}

.header {
    width: 50%;
    outline: red solid 1px;
    background-image: url(images\banner-mobile.jpg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
}

/* .header::before {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */